# --- IDE Settings ---
.idea/
.vscode/

# --- Python Virtual Environments ---
.venv/
venv/
ENV/

# --- Python Junk ---
**/__pycache__/
*.pyc

# --- Mac System Junk ---
.DS_Store

# --- Windows System Junk ---
# Stores thumbnail cache for images/videos
Thumbs.db
Thumbs.db:encryptable
# Stores folder customization settings
Desktop.ini
# Recycle Bin folders
$RECYCLE.BIN/